############################################################
# 🔐 CLAVES PRIVADAS Y ARCHIVOS SENSIBLES
############################################################

firebase/service-account.json
firebase/pzverse-chat-firebase-adminsdk-fbsvc-7a9f1ac680.json
.env
*.pem
*.key
*.crt


############################################################
# 🧪 ENTORNOS VIRTUALES
############################################################

venv/
env/
.venv/
ENV/
__pycache__/
*.py[cod]
*.so


############################################################
# 🗂️ ARCHIVOS TEMPORALES Y CACHÉ
############################################################

*.log
*.sqlite3
*.db
*.tmp
*.bak
*.swp
*.swo
.DS_Store
Thumbs.db


############################################################
# 🧪 ARCHIVOS DE PRUEBA Y DEPURACIÓN
############################################################

token_fcm.txt
test_*.py
debug_*.py


############################################################
# 🚀 ARCHIVOS DE DEPLOY (Railway, Heroku, etc.)
############################################################

*.tar.gz
*.zip
*.egg-info/
dist/
build/
